<launch>
 
    <!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the controllers -->
    <include file = "$(find urdf_ensamblatge_definitiu_erc23)/launch/arm_urdf.launch" />

    <!-- Launch Moveit Move Group Node -->
    <include file = "$(find movit_planning_config)/launch/move_group.launch" /> 

    <!-- Run Rviz and load the default configuration to see the state of the move_group node --> 
    <arg name="use_rviz" default="true" />
    <include file="$(find movit_planning_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_config" value="$(find movit_planning_config)/launch/moveit.rviz"/>
    </include>

    <node name="conversion_node" pkg="movit_planning_config" type="comm_ros_esp.py" />
    <node name="joyStick_brass_node" pkg="movit_planning_config" type="BRASSmando.py" />
    
</launch>